name: Deploy Flask to Azure from Main

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.14'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Deploy
        uses: azure/webapps-deploy@v3
        with:
          app-name: "hadoop"
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}